## Pandas Project on Movie Data Sets

## Pandas Project on Movie Data Sets

In [1]:
# We Need to import Library -

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
## now we importing the data -
titles = pd.read_csv('D:/Top Mentor/Classes Details/17th March 2024/Files/titles.csv')
print(titles.head(2))
print(titles.dtypes)

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
title    object
year      int64
dtype: object

In [3]:
## Copy our data that our main data will be actual -:
df = titles.copy()
print(df.head(2))
print(df.shape)

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
(230621, 2)

In [4]:
## Data Reading Basic Steps :-

print('Min year - ',df['year'].min())
print('Max year - ',df['year'].max())
print('No of Unique Title - ',df['title'].nunique())
print('no of columns - ' , df.columns)
print('no of shapes - ' , df.shape)
print('no of lenght - ' , len(df))
print('no of datatype - \n' , df.dtypes)
print('data information - ' , df.info)

Min year -  1894
Max year -  2026
No of Unique Title -  210937
no of columns -  Index(['title', 'year'], dtype='object')
no of shapes -  (230621, 2)
no of lenght -  230621
no of datatype -
 title    object
year      int64
dtype: object
data information -  <bound method DataFrame.info of                                        title  year
0                             The Rising Son  1990
1                    The Thousand Plane Raid  1969
2                           Crucea de piatra  1993
3                                    Country  2000
4                                 Gaiking II  2011
...                                      ...   ...
230616                 Nobody Waved Good-bye  1964
230617                                 E yue  2005
230618                          Lakota Girls  2015
230619                        Kroniki domowe  1997
230620  Death in the Valley of Good and Evil  2018

[230621 rows x 2 columns]>

In [5]:
### How to check yearwise unique count like movies relase in 2015

y_2015 = df[df['year']==2015]
print(y_2015.shape)
print(y_2015['title'].nunique())

(8664, 2)
8663

In [7]:
# Checking the null Values -
print(df.isnull().sum())

title    1
year     0
dtype: int64

In [8]:
#### Now we have to drop the row with null value -
print(df.shape)

(230621, 2)

In [9]:
df.dropna(inplace=True)

In [14]:
# After Dropping the null value cross checking - 
print(df.isnull().sum())

title    0
year     0
dtype: int64

In [ ]:
##  Currently no null value found in our data .

In [10]:
## If we have to check movie year wise then we can check from given data - 
year = int(input('Enter year between 1894-2026 - '))
y = df[df['year']==year]
print(y.shape)
print("No of movies release in year -", year , "is - " , y['title'].nunique())

Enter year between 1894-2026 -  2000

(2736, 2)
No of movies release in year - 2000 is -  2736

In [11]:
## .loc use to index numbering - it understand row index as like a filtering our data
df.loc[[12,123,414,111]]

                                   title  year
12              Poka Makorer Ghar Bosoti  1996
123                   Steal Kill Destroy  2015
414  Jeff Steele: Children of the Doomed  2011
111                 Kimurake no hitobito  1988

In [12]:
## Correction in header - 
df.rename(columns = {'title': 'Movie Name' , 'year' : 'Year'}, inplace = True )

In [13]:
print(df.head(2))

                Movie Name  Year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969

In [16]:
## Cheecking the movie release max & min year wise - 

print('Max movie release in Year - ' ,df['Year'].value_counts().idxmax())
print('Min movie release in Year - ' ,df['Year'].value_counts().idxmin())

Max movie release in Year -  2016
Min movie release in Year -  2024

In [18]:
# Year Wise Movie Realease count - 
df['Year'].value_counts().sort_index()

Year
1894     1
1898     1
1899     1
1900     4
1903     1
        ..
2022    18
2023    11
2024     1
2025     1
2026     1
Name: count, Length: 127, dtype: int64